<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698436433933-u9srearqdqeq6fd7lr4spve9tjbma4mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698436433933-u9srearqdqeq6fd7lr4spve9tjbma4mv</string>
	<key>API_KEY</key>
	<string>AIzaSyD7T-PwGoIfYUSSx1oqULvv-oeFZ_7wz_E</string>
	<key>GCM_SENDER_ID</key>
	<string>698436433933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samproject.eShop</string>
	<key>PROJECT_ID</key>
	<string>eshop-6b602</string>
	<key>STORAGE_BUCKET</key>
	<string>eshop-6b602.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698436433933:ios:ddc0ab9457d59c3e5fbd44</string>
	<key>DATABASE_URL</key>
	<string>https://eshop-6b602.firebaseio.com</string>
</dict>
</plist>